<div class="container">
<div id="background">
  <%=image_tag("AlexShandaBlueWall.jpg", class: "bckimg")%>
</div>
<!-- Navigation -->
<!--Navbar-->
<nav class="navbar navbar-light navbar-9 white">

<!-- Navbar brand -->

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent15">
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="#us">Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#details">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#registry">Registry</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#RSVP">RSVP</a>
  </li>
</ul>
<!-- Links -->

</div>
<!-- Collapsible content -->

</nav>


<!-- MainBody -->
<div>
  <h1 id="wesaid">we said yes</h1>
</div>

</div>
<div class="containertwo">
<div id="bluebox">
  <h1 id="us"> The Pinell Family</h1>
</div>
<div class="row">
  <div class="col-lg-3">
    <%=image_tag("IMG_0000.jpg", class: "familypics")%>
    <p class="name">ALEX</p>
  </div>
  <div class="col-lg-3">
    <%=image_tag("IMG_4403.jpg", class: "familypics")%>
    <p class="name">OLIVE</p>
  </div>
  <div class="col-lg-3">
    <%=image_tag("IMG_7487.jpg", class: "familypics")%>
    <p class="name">FRANKIE</p>
  </div>
  <div class="col-lg-3">
    <%=image_tag("IMG_0001.jpg", class: "familypics")%>
    <p class="name">SHANDA</p>
  </div>
</div>
<div class="containerthree">
<h1 id="details">Wedding Details</h1>
<div class="row">
  <div class="col-lg-6">
    <p class="info top">Mi Bella Vita</p>
    <p class="info">22404 Mueschke Rd, Tomball, TX 77375</p>
    <p class="info">September 2nd, 2019</p>
    <p class="info">11am-3pm</p>
    <h2 id="miabella"><a href="https://www.miabellavita.com/">Click here to visit their website!</a>
  </div>
  <div class="col-lg-6 map">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=22404%20Mueschke%20Rd%2C%20Tomball%2C%20TX%2077375&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}</style></div>
  </div>
</div>
</div>
<p id="thanks">From our family to yours, thanks for all of your years of friendship and love that have led to this moment. Here is to many more to come!</p>
<div class="containerfour">
<h1 id="registry">Registry</h1>
<p id="suprise">Suprise! We aren't having a registry!</p>
<p id="donate">Instead, we are setting up a fund that if you would like to donate to, would go towards our first rounds of IVF in the future.</p>
<button type="button" class="btn btn-outline-light btn-lg">Donate</button>
</div>
<div class="containerfive">
<div id="container">
<h1 id="rsvp">&bull; RSVP &bull;</h1>
<form action="#" method="post" id="contact_form">
<div class="namee">
  <label for="name"></label>
  <input type="text" placeholder="My name is" name="name" id="name_input" required>
</div>
<div class="telephone">
  <label for="name"></label>
  <input type="text" placeholder="My number is" name="telephone" id="telephone_input" required>
</div>
<div class="subject">
  <label for="subject"></label>
  <select placeholder="Subject line" name="subject" id="subject_input" required>
    <option>Food Allergies or Preferences</option>
    <option>I'm Vegan!</option>
    <option>I'm Vegetarian!</option>
    <option>I have food allergies. Please list below!</option>
  </select>
</div>
<div class="message">
  <label for="message"></label>
  <textarea name="message" placeholder="Anything you'd like to tell us? Praise? Adoration?" id="message_input" cols="30" rows="5" required></textarea>
</div>
<div class="submit">
  <input type="submit" value="Send Message" id="form_button" />
</div>
</form><!-- // End form -->
</div><!-- // End #container -->
<footer>Shanda McKinney 2019</footer>
